.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
    /* position: absolute; */
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: auto;
}
.underlineLink {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: color 0.9s;
}
.underlineLink:after{
content:"";
position: absolute;
background-color: #fff;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: width 0.3s;
}
.underlineLink:hover {
    color: #fff;
    font-weight: bold;
}
.underlineLink:hover:after{
width: 100%;
}
.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #922b2a;
    color: #fff;
}
