.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
    /* position: absolute; */
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: auto;
}
.underlineLink {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: color 0.9s;
}
.underlineLink:after{
content:"";
position: absolute;
background-color: #fff;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: width 0.3s;
}
.underlineLink:hover {
    color: #fff;
    font-weight: bold;
}
.underlineLink:hover:after{
width: 100%;
}
.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #922b2a;
    color: #fff;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para el zoom */
.gallery-item:hover .gallery-img {
    transform: scale(1.2);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #fff;
    cursor: pointer;
}
 /* Additional styles go here */

 @media (max-width: 768px) {
    /* Adjust styles for smaller screens (e.g., mobile devices) */
    .nav-links {
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        position: absolute;
        top: 4rem; /* Adjust as needed based on your header height */
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    .nav-links.show {
        display: flex; /* Show navigation links when the class "show" is added */
    }

    .underlineLink {
        display: block;
        padding: 1rem;
        text-align: center;
        color: #ff4c4c;
    }
}